<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">


  </head>

  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/">Dog At The Turn</a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/reviews">Reviews</a>
      <a class="nav-item nav-link" href="/courses">Courses</a>
      <a class="nav-item nav-link" href="/about">About</a>

    </div>

</nav>


<div id="page-container">
   <div id="content-wrap">
     <body>
