<div class="rating-system">
  <p class="rating-system-paragraph">I've developed a comprehensive rating system
    to rate golf course hot dogs on a scale from 1
    to 10, taking the following factors into account:
    </p>
    <ol>
      <li><b>Taste</b> - The most important component. A dog is nothing if it's not delicious.</li>
      <li><b>Texture</b> - Some folks think all dogs are created equal but this is simply not true.
        Hot dog texture can vary widely and a less than stellar texture can ruin
        an otherwise delicious dog. </li>
      <li><b>Bun</b> - Love a good Bun.</li>
      <li><b>Availability of toppings</b> - My standard order is ketchup, mustard, and onions. Others may
        like relish or kraut and bonus points should be given if the choices
        are vast.</li>
      <li><b>Service</b> - The experience of the dog cannot be discounted. Excellent service should be rewarded.</li>
    </ol>
</div>
