<%- include("partials/header"); %>

<div class="container-fluid">
  <h2>Whoops</h2>
  <p>The page you're looking for doesn't exist. Check out <a href="/reviews/<%= post._id%> ">a review</a></p>

</div>

<%- include("partials/footer"); %>
