<%- include("partials/header"); %>

<div class="container-fluid about-section">
  <h2>About</h2>
<p>You're making the turn after doubling the 9th, feeling sorry for yourself as fatigue
starts to set in. It's hot, and as you approach the clubhouse to regain composure, you
become aware that you haven't been swinging so great and there's a lot of golf left to play.
Woof, here we go. But then you get to the snack shack and the gal at the counter asks for your
order and you don't have to think twice, "Let me get a hot dog". In this moment, nothing
could taste as good as that dirty, course dog. Suddenly you're revitalized like a phoenix rising
from the ashes. You don't even notice the heat anymore and you can't wait to get onto the 10th
tee. You step up with newfound confidence and roast one down the middle - stripe show. It's that feeling of bliss that we celebrate here at Dog At The Turn. The feeling that takes
you to your happy place on the course and one of the many reasons you keep coming back.
</p>
<div class="separator">
  <p>...</p>
</div>
<p>
In 2019 I ate so many hot dogs while playing golf that I gained 15 pounds. The two beers that
came standard with my order probably weren't helping either but I digress...The point is that
a dog on the course became ubiquitous with any fun round of golf I've had and always elevates my
mood whether I'm playing great or playing like I usually do. Regardless of how you're playing
that day there's nothing better than sharing a dog with your golf buddies and I'd like to share
the dogs I've enjoyed with you. I hope you find Dog At The Turn funny, informative, and delicious.
</p>
</div>

<%- include("partials/footer"); %>
