<%- include("partials/header") %>

<!-- Welcome Section-->
<section class="green-section">
 <div class="container-fluid">


    <h1 class="section-title">A place to discuss golf's unsung hero - the hot dog.</h2>

  </div>
</section>


<!-- Ratings Section -->
<section class="white-section">
  <div class="container-fluid">
    <h2 class="section-title" id="rating">Rating System</h2>
    <%- include("partials/ratingText") %>
  </div>
    </section>

 <!-- <section class="gray-section">
  <div class="container-fluid">
<h2 class="section-title">Golf Courses</h2>
</div>
</section> -->


<%- include("partials/footer") %>
