<%- include("partials/header") %>

<div class="container-fluid error-container">
  <h2 class="error-header">No results found!</h2>
  <p>Your search for "<%= searchText %>" returned no results. Why don't you check out <a href="/reviews%> ">a review</a></p>
</div>

<%- include("partials/footer") %>
